---
layout: default
image: /images/fulls/01.jpg
---
<section>
  <header class="major">
    <h2>L'auteur</h2>
    <p>
    Docteur en informatique, Mayennais, je suis passionné par la data et l'intelligence artificielle.
    Après une thèse portant sur la construction d'interfaces innovantes pour parcourir l'actualité, j'ai rejoint le groupe Ouest France comme Data Scientist. J'ai plus tard décidé de rejoindre le groupe Jouve en tant qu'Ingénieur Recherche et Développement Senior.
    </p>
    <ul class="actions">
      <li><a href="mailto:remibois.contact@gmail.com" class="button">Contactez-moi</a></li>
    </ul>
    </header>


  <!-- This loops through the paginated posts -->
  <section>
    <h2>Derniers articles</h2>
    <div class="row"> 
      {% for post in paginator.posts %}

      <article class="6u 12u$(xsmall) work-item"><a href="{{ post.url | prepend: site.github.url }}"><img src="/images/thumbs/{{ post.thumbnail }}" class="image fit thumb"></a>
	<h3><a href="{{ post.url | prepend: site.github.url }}">{{ post.title }}</a></h3>
	<p>
	  <span><i class="fa fa-calendar"></i> Le {{ post.date | date: "%d-%m-%Y" }}{% if post.categories %}   <i class="fa fa-tags"></i> {{ post.categories | join: ', ' }}{% endif %}</span>
	</p>
	{{ post.excerpt }} 
      </article>
      {% endfor %} 
      <div>
    </div>
  </section>


{% if paginator.total_pages > 1 %}
<!-- Pagination links -->
<section>
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">Previous</a>
  {% endif %}
  <span>Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">Next</a>
  {% endif %}
</section>
{% endif %}
