<!DOCTYPE HTML>
<html lang="fr">
  <head>
    {% include head.html %}

        <!-- Open Graph -->
    <meta property="og:type" content="profile" />
    <meta property="og:first_name" content="Rémi" />
    <meta property="og:last_name" content="Bois" />

    {% if page.image %}
    <meta property="og:image" content="{{site.github.url }}{{ page.image }}" />
    {% endif %}

    {% include twittercard.html %}

    <script type="application/ld+json">
      {
      "@context": "http://schema.org",
      "@type": "AboutPage",
      "mainEntityOfPage":{
      "@type":"WebPage",
      "@id":"{{ page.url }}"
      },
      "headline": "{{ page.title }}",
      "image": "{{ page.image }}",
      "datePublished": "{{ page.date }}",
      "author": {
      "@type": "Person",
      "name": "Rémi Bois"
      },
      "publisher": {
      "@type": "Person",
      "name": "Rémi Bois"
      },
      "description": "{{ page.excerpt }}"
      }
      </script>


  </head>
	<body id="top">

		{% include header.html %}

		<!-- Main -->
			<div id="main">
				{{ content }}
			</div>

      {% include footer.html %}
      {% include scripts.html %}
      {% include nav.html %}

	</body>
</html>
