<!DOCTYPE HTML>
<html>
  <head>
    {% include head.html %}
    {% include opengraph.html %}
    {% include twittercard.html %}
  </head>
	<body id="top">

		{% include header.html %}

		<!-- Main -->
		<div id="main">
      <article>
        <header class="major">
          <h2>{{ page.title }}</h2>
          <p>
            <i class="fa fa-calendar"></i> Le {{ page.date | date: "%d-%m-%Y" }}{% if page.categories %} <i class="fa fa-tags"></i> {{ page.categories | array_to_sentence_string : ' ' }} {% endif %}
            {% include readingtime.html %}
          </p>

        </header>

        <section>
          {{ content }}
        </section>
      </article>
	  
		  <figure>
		  <img src="/images/thumbs/{{ page.closingthumb }}" class="image headimage">
		  	  <figcaption> {{ page.closingthumbdesc }} </figcaption>
		   </figure>

      {% include disqus.html %}
	  
	  <hr size=5>

	  	<!-- Begin Mailchimp Signup Form -->

<div id="mc_embed_signup" style="margin-top:50px; width: 58%; margin: auto;">
<form action="https://ledatablog.us19.list-manage.com/subscribe/post?u=89b7aa358e34f464a27183451&amp;id=f68a9a03f3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL" style="font-weight:bold;">Soyez informés des nouvelles publications</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="adresse mail" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_89b7aa358e34f464a27183451_f68a9a03f3" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="S'inscrire" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->

      {% if page.previous.url or page.next.url %}
      <hr />
      <div class="row">
        <article class="6u 12u$(xsmall) work-item">
          {% if page.previous.url %}
          <p>Previous</p>
  				<h3><a href="{{ page.previous.url }}">{{page.previous.title}}</a></h3>
  				<p>{{ page.previous.excerpt | strip_html }}</p>
          {% endif %}
  			</article>
  			<article class="6u$ 12u$(xsmall) work-item">
          {% if page.next.url %}
          <p>Next</p>
  				<h3><a href="{{ page.next.url }}">{{page.next.title}}</a></h3>
  				<p>{{ page.next.excerpt | strip_html }}</p>
          {% endif %}
  			</article>
      </div>
      {% endif %}


		</div>

    {% include footer.html %}
    {% include scripts.html %}

	</body>
</html>
