<!DOCTYPE HTML>
<html>
  <head>
    {% include head.html %}
    {% include opengraph.html %}
    {% include twittercard.html %}
  </head>
	<body id="top">

		{% include header.html %}

		<!-- Main -->
		<div id="main">
      <article>
        <header class="major">
          <h2>{{ page.title }}</h2>
          <p>
            <i class="fa fa-calendar"></i> Le {{ page.date | date: "%d-%m-%Y" }}{% if page.categories %} <i class="fa fa-tags"></i> {{ page.categories | array_to_sentence_string }} {% endif %}
            {% include readingtime.html %}
          </p>
		  <figure>
		  <img src="/images/thumbs/{{ page.thumbnail }}" class="image headimage">
		  	  <figcaption> {{ page.thumbnaildesc }} </figcaption>
		   </figure>
        </header>

        <section>
          {{ content }}
        </section>
      </article>
	  
		  <figure>
		  <img src="/images/thumbs/{{ page.closingthumb }}" class="image headimage">
		  	  <figcaption> {{ page.closingthumbdesc }} </figcaption>
		   </figure>

      {% include disqus.html %}

      {% if page.previous.url or page.next.url %}
      <hr />
      <div class="row">
        <article class="6u 12u$(xsmall) work-item">
          {% if page.previous.url %}
          <p>Previous</p>
  				<h3><a href="{{ page.previous.url }}">{{page.previous.title}}</a></h3>
  				<p>{{ page.previous.excerpt | strip_html }}</p>
          {% endif %}
  			</article>
  			<article class="6u$ 12u$(xsmall) work-item">
          {% if page.next.url %}
          <p>Next</p>
  				<h3><a href="{{ page.next.url }}">{{page.next.title}}</a></h3>
  				<p>{{ page.next.excerpt | strip_html }}</p>
          {% endif %}
  			</article>
      </div>
      {% endif %}

		</div>

    {% include footer.html %}
    {% include scripts.html %}

	</body>
</html>
